*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #3f3d3d;
}
#wrapper{
    width: 1100px;
    height: auto;
    background-color:whitesmoke;
    margin-left: 50px;
}

h1{
    text-align: center;
    color: black;
    margin-bottom: -30px;
}
.formulario{
    display: inline-block;
    vertical-align: top;
    background-color:rgb(226, 228, 231);
    margin: 45px;
    text-align: center;
    padding: 20px;
    width: 400px;
    height: 500px;
}
#icon1{
    margin: 25px;
}
#icon2{
    margin: 25px;
}

#fname{
    margin-left: 12px;
}
#lname{
    margin-left: 15px;
}
#email{
    margin-left: 50px;
}
#userid{
    margin-left: 37px;
}
#country{
    margin-left: 29px;
}
#tpin{
    margin-left: 40px;
}
#usrt{
    margin-left: 20px;
}
#storen{
    margin-left: 1px;
}

#password{
    margin-left: 25px;
}
#confirmpass{
    margin-left: 0px;
}

#loguserid{
margin-left: 20px;
}

